#clock {
    align-items:  center;
    vertical-align: middle;
    font-weight: bold;
    color: #772953;
    font-size: 80px;
    font-family: Ubuntu Mono;
    font-weight: bold;
    text-shadow: 5px 5px 5px #00000000;
}

#box1 {
    background-color: #772953;
    color: #300a24;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px #00000000;
    width:  25%;
    max-width: 300px;
    font-size: 32px;
    transition: transform .2s;
}

#box2 {
    background-color: #772953;
    color: #300a24;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px #00000000;
    width:  25%;
    max-width: 300px;
    font-size: 32px;
    transition: transform .2s;
}

#box3 {
    background-color: #60001c;
    color: #300a24;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    width:  25%;
    box-shadow: 5px 5px 5px 5px #00000000;
    max-width: 300px;
    font-size: 32px;
    transition: transform .2s;
}

body {
    background-color: #2c001e;
    margin: 0;
    align-items:  center;
    vertical-align: middle;
    font-weight: bold;
    color: #93a1a1;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

a {
    text-decoration: none;
    color:  inherit;
    text-align: center;
    margin: 0 auto;
}

#box1:hover {
    transform: scale(1.0);
    color: #e95420;
    box-shadow: 0px 0px 5px 5px #60001c88;
    transition: 0.2s;
}

#box2:hover {
    transform: scale(1.0);
    color: #e95420;
    box-shadow: 0px 0px 5px 5px #60001c88;
    transition: 0.2s;
}

#box3:hover {
    transform: scale(1.0);
    color: #e95420;
    box-shadow: 0px 0px 5px 5px #60001c88;
    transition: 0.2s;
}

#searchbar:hover {
    width: 100%;
    max-width: 925px;
    box-shadow: 0px 0px 5px 5px #60001c88;
    transition: 0.2s;
    transition-delay: 0.0s;
    color: #e95420;
    font-family: Ubuntu Mono;
    font-weight: bold;
}

#searchbar:focus {
    width: 100%;
    max-width: 925px;
    border: 0px solid #ad7fa800;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #6001c88;
    color: #e95420;
    font-family: Ubuntu Mono;
    font-weight: bold;
}

#searchbar {
    width: 70%;
    height: 45px;
    max-width: 925px;
    border: 0px solid #00000000;
    background-color: #772953;
    color: #2c001e;
    font-family: inherit;
    font-size: 18px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #00000000;
    transition: width 0.5s;
    transition-delay: 0.5s;
    text-align: center;
    font-family: Ubuntu Mono;
    font-weight: bold;
}

.site {
    position: absolute;
    margin: 0;
    width: 100%;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: Ubuntu Condensed;
}


